/*
*/

USE master;

-- Drop database
IF DB_ID('FundamentosTSQL') IS NOT NULL begin 
   ALTER DATABASE FundamentosTSQL set single_user with rollback immediate; 
   DROP DATABASE FundamentosTSQL;
end 

-- Create database
CREATE DATABASE FundamentosTSQL;
GO

USE FundamentosTSQL;
GO

---------------------------------------------------------------------
-- Create Schemas
---------------------------------------------------------------------

-- CREATE SCHEMA HR AUTHORIZATION dbo;
CREATE SCHEMA Rh AUTHORIZATION dbo;

GO
--CREATE SCHEMA Production AUTHORIZATION dbo;
CREATE SCHEMA Producao AUTHORIZATION dbo;
GO
--CREATE SCHEMA Sales AUTHORIZATION dbo;
CREATE SCHEMA Vendas AUTHORIZATION dbo;
GO

---------------------------------------------------------------------
-- Create Tables
---------------------------------------------------------------------

-- Create table RH.Empregado
-- select * from rh.Empregado
CREATE TABLE RH.Empregado
(
  iIDEmpregado     INT         NOT NULL IDENTITY,
  UltimoNome        VARCHAR(20) NOT NULL,
  PrimeiroNome      VARCHAR(10) NOT NULL,
  Cargo             VARCHAR(30) NOT NULL,
  Cortesia          VARCHAR(25) NOT NULL,
  DataAniversario   DATETIME    NOT NULL,
  DataAdmissao      DATETIME    NOT NULL,
  Endereco          VARCHAR(60) NOT NULL,
  Cidade            VARCHAR(15) NOT NULL,
  Regiao            VARCHAR(15) NULL,
  CEP               VARCHAR(10) NULL,
  Pais              VARCHAR(15) NOT NULL,
  Telefone          VARCHAR(24) NOT NULL,
  Salario           Money       NOT NULL ,
  iIDChefe          INT         NULL,
  CONSTRAINT PK_Empregado PRIMARY KEY(iIDEmpregado),
  CONSTRAINT FK_Empregado_Empregado FOREIGN KEY(iIDChefe)
    REFERENCES RH.Empregado(iIDEmpregado),
  CONSTRAINT CHK_DataAniversario CHECK(DataAniversario <= CURRENT_TIMESTAMP),
  CONSTRAINT CHK_Salario CHECK(Salario > 0)
);

CREATE NONCLUSTERED INDEX idx_nc_UltimoNome   ON RH.Empregado(UltimoNome);
CREATE NONCLUSTERED INDEX idx_nc_CEP ON RH.Empregado(CEP);

-- Create table Producao.Fornecedor
CREATE TABLE Producao.Fornecedor
(
  iIDFornecedor   INT          NOT NULL IDENTITY,
  RazaoSocial     VARCHAR(40) NOT NULL,
  Contato         VARCHAR(30) NOT NULL,
  Cargo           VARCHAR(30) NOT NULL,
  Endereco        VARCHAR(60) NOT NULL,
  Cidade          VARCHAR(15) NOT NULL,
  Regiao          VARCHAR(15) NULL,
  CEP             VARCHAR(10) NULL,
  Pais            VARCHAR(15) NOT NULL,
  Telefone        VARCHAR(24) NOT NULL,
  fax             VARCHAR(24) NULL,
  CONSTRAINT PK_Fornecedor PRIMARY KEY(iIDFornecedor)
);

CREATE NONCLUSTERED INDEX idx_nc_RazaoSocial ON Producao.Fornecedor(RazaoSocial);
CREATE NONCLUSTERED INDEX idx_nc_CEP  ON Producao.Fornecedor(CEP);

-- Create table Producao.Categoria
CREATE TABLE Producao.Categoria
(
  iIDCategoria   INT           NOT NULL IDENTITY,
  NomeCategoria  VARCHAR(15)  NOT NULL,
  Descricao      VARCHAR(200) NOT NULL,
  CONSTRAINT PK_Categoria PRIMARY KEY(iIDCategoria)
);

CREATE INDEX NomeCategoria ON Producao.Categoria(NomeCategoria);

-- Create table Producao.Produto
CREATE TABLE Producao.Produto
(
  iIDProduto    INT         NOT NULL IDENTITY,
  NomeProduto   VARCHAR(40) NOT NULL,
  iIDFornecedor INT         NOT NULL,
  iIDCategoria  INT         NOT NULL,
  PrecoUnitario MONEY       NOT NULL
    CONSTRAINT DFT_Produto_PrecoUnitario DEFAULT(0),
  Desativado    BIT          NOT NULL 
    CONSTRAINT DFT_Produto_Desativado DEFAULT(0),
  CONSTRAINT PK_Produto PRIMARY KEY(iIDProduto),
  CONSTRAINT FK_Produto_Categoria FOREIGN KEY(iIDCategoria)
    REFERENCES Producao.Categoria(iIDCategoria),
  CONSTRAINT FK_Produto_Fornecedor FOREIGN KEY(iIDFornecedor)
    REFERENCES Producao.Fornecedor(iIDFornecedor),
  CONSTRAINT CHK_Produto_PrecoUnitario CHECK(PrecoUnitario >= 0)
);

CREATE NONCLUSTERED INDEX idx_nc_iIDCategoria  ON Producao.Produto(iIDCategoria);
CREATE NONCLUSTERED INDEX idx_nc_NomeProduto   ON Producao.Produto(NomeProduto);
CREATE NONCLUSTERED INDEX idx_nc_iIDFornecedor ON Producao.Produto(iIDFornecedor);

-- Create table Vendas.Cliente
CREATE TABLE Vendas.Cliente
(
  iIDCliente   INT          NOT NULL IDENTITY,
  RazaoSocial  VARCHAR(40) NOT NULL,
  Contato      VARCHAR(30) NOT NULL,
  Cargo        VARCHAR(30) NOT NULL,
  Documento    VARCHAR(10) NULL, 
  Endereco     VARCHAR(60) NOT NULL,
  Cidade       VARCHAR(15) NOT NULL,
  Regiao       VARCHAR(15) NULL,
  CEP          VARCHAR(10) NULL,
  Pais         VARCHAR(15) NOT NULL,
  Telefone     VARCHAR(24) NOT NULL,
  fax          VARCHAR(24) NULL,
  CONSTRAINT PK_Cliente PRIMARY KEY(iIDCliente)
);

CREATE NONCLUSTERED INDEX idx_nc_Cidade      ON Vendas.Cliente(Cidade);
CREATE NONCLUSTERED INDEX idx_nc_RazaoSocial ON Vendas.Cliente(RazaoSocial);
CREATE NONCLUSTERED INDEX idx_nc_CEP         ON Vendas.Cliente(CEP);
CREATE NONCLUSTERED INDEX idx_nc_region      ON Vendas.Cliente(Regiao);

CREATE NONCLUSTERED INDEX idx_nc_RazaoSocial2 ON Vendas.Cliente(Contato,RazaoSocial)  ;
CREATE NONCLUSTERED INDEX idx_nc_RazaoSocial3 ON Vendas.Cliente(Cargo,RazaoSocial)  ;


-- Create table Vendas.Remetente
CREATE TABLE Vendas.Remetente
(
  iIDRemetente INT         NOT NULL IDENTITY,
  RazaoSocial  VARCHAR(40) NOT NULL,
  Telefone     VARCHAR(24) NOT NULL,
  CONSTRAINT PK_Remetente PRIMARY KEY(iIDRemetente)
);

-- Create table Vendas.Pedido
CREATE TABLE Vendas.Pedido
(
  iIDPedido       INT         NOT NULL IDENTITY,
  iIDCliente      INT         NULL,
  iIDEmpregado    INT         NOT NULL,
  DataPedido      DATE        NOT NULL,
  DataRequisicao  DATE        NOT NULL,
  DataEnvio       DATE        NULL,
  iIDRemetente    INT         NOT NULL,
  Frete           MONEY       NOT NULL
    CONSTRAINT DFT_Pedido_Frete DEFAULT(0),
  shipname        VARCHAR(40) NOT NULL,
  shipaddress     VARCHAR(60) NOT NULL,
  shipCidade      VARCHAR(15) NOT NULL,
  shipregion      VARCHAR(15) NULL,
  shipCEP         VARCHAR(10) NULL,
  shipPais        VARCHAR(15) NOT NULL,
  CONSTRAINT PK_Pedido PRIMARY KEY(iIDPedido),
  CONSTRAINT FK_Pedido_Cliente FOREIGN KEY(iIDCliente)
    REFERENCES Vendas.Cliente(iIDCliente),
  CONSTRAINT FK_Pedido_Empregado FOREIGN KEY(iIDEmpregado)
    REFERENCES RH.Empregado(iIDEmpregado),
  CONSTRAINT FK_Pedido_Remetente FOREIGN KEY(iIDRemetente)
    REFERENCES Vendas.Remetente(iIDRemetente)
);

CREATE NONCLUSTERED INDEX idx_nc_iIDCliente   ON Vendas.Pedido(iIDCliente);
CREATE NONCLUSTERED INDEX idx_nc_iIDEmpregado ON Vendas.Pedido(iIDEmpregado);
CREATE NONCLUSTERED INDEX idx_nc_iIDRemetente ON Vendas.Pedido(iIDRemetente);
CREATE NONCLUSTERED INDEX idx_nc_DataPedido   ON Vendas.Pedido(DataPedido);
CREATE NONCLUSTERED INDEX idx_nc_DataEnvio    ON Vendas.Pedido(DataEnvio);
CREATE NONCLUSTERED INDEX idx_nc_shipCEP      ON Vendas.Pedido(shipCEP);

CREATE NONCLUSTERED INDEX idx_nc_DataPedido1  ON Vendas.Pedido(datapedido, iidcliente desc ,iidpedido desc) 


-- Create table Vendas.ItensPedido
CREATE TABLE Vendas.ItensPedido
(
  iIDPedido     INT           NOT NULL,
  iIDProduto    INT           NOT NULL,
  PrecoUnitario MONEY         NOT NULL
    CONSTRAINT DFT_ItensPedido_PrecoUnitario DEFAULT(0),
  Quantidade     SMALLINT      NOT NULL
    CONSTRAINT DFT_ItensPedido_Quantidade DEFAULT(1),
  Desconto  NUMERIC(4, 3) NOT NULL
    CONSTRAINT DFT_ItensPedido_Desconto DEFAULT(0),
  CONSTRAINT PK_ItensPedido PRIMARY KEY(iIDPedido, iIDProduto),
  CONSTRAINT FK_ItensPedido_Pedido FOREIGN KEY(iIDPedido)
    REFERENCES Vendas.Pedido(iIDPedido),
  CONSTRAINT FK_ItensPedido_Produto FOREIGN KEY(iIDProduto)
    REFERENCES Producao.Produto(iIDProduto),
  CONSTRAINT CHK_Desconto  CHECK (Desconto BETWEEN 0 AND 1),
  CONSTRAINT CHK_Quantidade  CHECK (Quantidade > 0),
  CONSTRAINT CHK_PrecoUnitario CHECK (PrecoUnitario >= 0)
)

CREATE NONCLUSTERED INDEX idx_nc_iIDPedido   ON Vendas.ItensPedido(iIDPedido);
CREATE NONCLUSTERED INDEX idx_nc_iIDProduto ON Vendas.ItensPedido(iIDProduto);
GO

---------------------------------------------------------------------
-- Populate table Tables
---------------------------------------------------------------------
Begin transaction 

SET NOCOUNT ON;

-- Populate table RH.Empregado
SET IDENTITY_INSERT RH.Empregado ON;
INSERT INTO RH.Empregado(iIDEmpregado, UltimoNome, PrimeiroNome, Cargo, cortesia, DataAniversario, DataAdmissao,Endereco, Cidade,Regiao, CEP, Pais, Telefone, Salario, iIDChefe)
  VALUES(1, N'Davis', N'Sara', N'CEO', N'Ms.', '19581208', '20020501', N'7890 - 20th Ave. E., Apt. 2A', N'Seattle', N'WA', N'10003', N'USA', N'(206) 555-0101', 200000 , NULL);
INSERT INTO RH.Empregado(iIDEmpregado, UltimoNome, PrimeiroNome, Cargo, cortesia, DataAniversario, DataAdmissao,Endereco, Cidade,Regiao, CEP, Pais, Telefone, Salario, iIDChefe)
  VALUES(2, N'Funk', N'Don', N'Vice President, Sales', N'Dr.', '19620219', '20020814', N'9012 W. Capital Way', N'Tacoma', N'WA', N'10001', N'USA', N'(206) 555-0100', 130000 ,1);
INSERT INTO RH.Empregado(iIDEmpregado, UltimoNome, PrimeiroNome, Cargo, cortesia, DataAniversario, DataAdmissao,Endereco, Cidade,Regiao, CEP, Pais, Telefone, Salario, iIDChefe)
  VALUES(3, N'Lew', N'Judy', N'Sales Manager', N'Ms.', '19730830', '20020401', N'2345 Moss Bay Blvd.', N'Kirkland', N'WA', N'10007', N'USA', N'(206) 555-0103', 55000 ,2);
SET IDENTITY_INSERT RH.Empregado OFF;

-- Populate table Producao.Fornecedor
SET IDENTITY_INSERT Producao.Fornecedor ON;
INSERT INTO Producao.Fornecedor(iIDFornecedor, RazaoSocial, Contato, Cargo,Endereco, Cidade,Regiao, CEP, Pais, Telefone, fax)
  VALUES(1, N'Supplier SWRXU', N'Adolphi, Stephan', N'Purchasing Manager', N'2345 Gilbert St.', N'London', NULL, N'10023', N'UK', N'(171) 456-7890', NULL);
INSERT INTO Producao.Fornecedor(iIDFornecedor, RazaoSocial, Contato, Cargo,Endereco, Cidade,Regiao, CEP, Pais, Telefone, fax)
  VALUES(2, N'Supplier VHQZD', N'Hance, Jim', N'Order Administrator', N'P.O. Box 5678', N'New Orleans', N'LA', N'10013', N'USA', N'(100) 555-0111', NULL);
INSERT INTO Producao.Fornecedor(iIDFornecedor, RazaoSocial, Contato, Cargo,Endereco, Cidade,Regiao, CEP, Pais, Telefone, fax)
  VALUES(3, N'Supplier STUAZ', N'Parovszky, Alfons', N'Sales Representative', N'1234 Oxford Rd.', N'Ann Arbor', N'MI', N'10026', N'USA', N'(313) 555-0109', N'(313) 555-0112');
SET IDENTITY_INSERT Producao.Fornecedor OFF;

-- Populate table Producao.Categoria
SET IDENTITY_INSERT Producao.Categoria ON;
INSERT INTO Producao.Categoria(iIDCategoria, NomeCategoria, Descricao)
  VALUES(1, N'Beverages', N'Soft drinks, coffees, teas, beers, and ales');
INSERT INTO Producao.Categoria(iIDCategoria, NomeCategoria, Descricao)
  VALUES(2, N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO Producao.Categoria(iIDCategoria, NomeCategoria, Descricao)
  VALUES(3, N'Confections', N'Desserts, candies, and sweet breads');
SET IDENTITY_INSERT Producao.Categoria OFF;

-- Populate table Producao.Produto
SET IDENTITY_INSERT Producao.Produto ON;
INSERT INTO Producao.Produto(iIDProduto, NomeProduto, iIDFornecedor, iIDCategoria, PrecoUnitario, Desativado)
  VALUES(1, N'Product HHYDP', 1, 1, 18.00, 0);
INSERT INTO Producao.Produto(iIDProduto, NomeProduto, iIDFornecedor, iIDCategoria, PrecoUnitario, Desativado)
  VALUES(2, N'Product RECZE', 1, 1, 19.00, 0);
INSERT INTO Producao.Produto(iIDProduto, NomeProduto, iIDFornecedor, iIDCategoria, PrecoUnitario, Desativado)
  VALUES(3, N'Product IMEHJ', 1, 2, 10.00, 0);
SET IDENTITY_INSERT Producao.Produto OFF;

-- Populate table Vendas.Cliente
SET IDENTITY_INSERT Vendas.Cliente ON;
INSERT INTO Vendas.Cliente(iIDCliente, RazaoSocial, Contato, Cargo,Endereco, Cidade,Regiao, CEP, Pais, Telefone, fax)
  VALUES(1, N'Customer NRZBB', N'Allen, Michael', N'Sales Representative', N'Obere Str. 0123', N'Berlin', NULL, N'10092', N'Germany', N'030-3456789', N'030-0123456');
INSERT INTO Vendas.Cliente(iIDCliente, RazaoSocial, Contato, Cargo,Endereco, Cidade,Regiao, CEP, Pais, Telefone, fax)
  VALUES(2, N'Customer MLTDN', N'Hassall, Mark', N'Owner', N'Avda. de la Constitución 5678', N'México D.F.', NULL, N'10077', N'Mexico', N'(5) 789-0123', N'(5) 456-7890');
INSERT INTO Vendas.Cliente(iIDCliente, RazaoSocial, Contato, Cargo,Endereco, Cidade,Regiao, CEP, Pais, Telefone, fax)
  VALUES(3, N'Customer KBUDE', N'Peoples, John', N'Owner', N'Mataderos  7890', N'México D.F.', NULL, N'10097', N'Mexico', N'(5) 123-4567', NULL);
SET IDENTITY_INSERT Vendas.Cliente OFF;

-- Populate table Vendas.Remetente
SET IDENTITY_INSERT Vendas.Remetente ON;
INSERT INTO Vendas.Remetente(iIDRemetente, RazaoSocial, Telefone)
  VALUES(1, N'Shipper GVSUA', N'(503) 555-0137');
INSERT INTO Vendas.Remetente(iIDRemetente, RazaoSocial, Telefone)
  VALUES(2, N'Shipper ETYNR', N'(425) 555-0136');
INSERT INTO Vendas.Remetente(iIDRemetente, RazaoSocial, Telefone)
  VALUES(3, N'Shipper ZHISN', N'(415) 555-0138');
SET IDENTITY_INSERT Vendas.Remetente OFF;

-- Populate table Vendas.Pedido
SET IDENTITY_INSERT Vendas.Pedido ON;
INSERT INTO Vendas.Pedido(iIDPedido, iIDCliente, iIDEmpregado, DataPedido, DataRequisicao, DataEnvio, iIDRemetente, Frete, shipname, shipaddress, shipCidade, shipregion, shipCEP, shipPais)
  VALUES(10248, 85, 5, '20060704', '20060801', '20060716', 3, 32.38, N'Ship to 85-B', N'6789 rue de l''Abbaye', N'Reims', NULL, N'10345', N'France');
INSERT INTO Vendas.Pedido(iIDPedido, iIDCliente, iIDEmpregado, DataPedido, DataRequisicao, DataEnvio, iIDRemetente, Frete, shipname, shipaddress, shipCidade, shipregion, shipCEP, shipPais)
  VALUES(10249, 79, 6, '20060705', '20060816', '20060710', 1, 11.61, N'Ship to 79-C', N'Luisenstr. 9012', N'Münster', NULL, N'10328', N'Germany');
INSERT INTO Vendas.Pedido(iIDPedido, iIDCliente, iIDEmpregado, DataPedido, DataRequisicao, DataEnvio, iIDRemetente, Frete, shipname, shipaddress, shipCidade, shipregion, shipCEP, shipPais)
  VALUES(10250, 34, 4, '20060708', '20060805', '20060712', 2, 65.83, N'Destination SCQXA', N'Rua do Paço, 7890', N'Rio de Janeiro', N'RJ', N'10195', N'Brazil');
SET IDENTITY_INSERT Vendas.Pedido OFF;

-- Populate table Vendas.ItensPedido
INSERT INTO Vendas.ItensPedido(iIDPedido, iIDProduto, PrecoUnitario, Quantidade, Desconto)
  VALUES(10248, 11, 14.00, 12, 0);
INSERT INTO Vendas.ItensPedido(iIDPedido, iIDProduto, PrecoUnitario, Quantidade, Desconto)
  VALUES(10248, 42, 9.80, 10, 0);
INSERT INTO Vendas.ItensPedido(iIDPedido, iIDProduto, PrecoUnitario, Quantidade, Desconto)
  VALUES(10248, 72, 34.80, 5, 0);

SET NOCOUNT OFF;
GO

---------------------------------------------------------------------
-- Create Views
---------------------------------------------------------------------

CREATE VIEW Vendas.OrderValues
  WITH SCHEMABINDING
AS

SELECT O.iIDPedido, O.iIDCliente, O.iIDEmpregado, O.iIDRemetente, O.DataPedido,
  CAST(SUM(OD.Quantidade * OD.PrecoUnitario * (1 - Desconto))
       AS NUMERIC(12, 2)) AS val
FROM Vendas.Pedido AS O
  JOIN Vendas.ItensPedido AS OD
    ON O.iIDPedido = OD.iIDPedido
GROUP BY O.iIDPedido, O.iIDCliente, O.iIDEmpregado, O.iIDRemetente, O.DataPedido;
GO

CREATE VIEW Vendas.OrderTotalsByYear
  WITH SCHEMABINDING
AS

SELECT
  YEAR(O.DataPedido) AS orderyear,
  SUM(OD.Quantidade) AS Quantidade
FROM Vendas.Pedido AS O
  JOIN Vendas.ItensPedido AS OD
    ON OD.iIDPedido = O.iIDPedido
GROUP BY YEAR(DataPedido);
GO

CREATE VIEW Vendas.CustPedido
  WITH SCHEMABINDING
AS

SELECT
  O.iIDCliente, 
  DATEADD(month, DATEDIFF(month, 0, O.DataPedido), 0) AS ordermonth,
  SUM(OD.Quantidade) AS Quantidade
FROM Vendas.Pedido AS O
  JOIN Vendas.ItensPedido AS OD
    ON OD.iIDPedido = O.iIDPedido
GROUP BY iIDCliente, DATEADD(month, DATEDIFF(month, 0, O.DataPedido), 0);
GO

UPDATE Vendas.Cliente 
   SET DOCUMENTO = cast(rand()*100000000 as int) 
 WHERE iIDCliente in (select top 1 iIDCliente from vendas.Cliente where documento is null)
go 91

GO

USE master;
GO

-- Drop database
IF DB_ID('Agenda') IS NOT NULL begin 
   ALTER DATABASE Agenda set single_user with rollback immediate; 
   DROP DATABASE Agenda;
end 


-- Create database
CREATE DATABASE Agenda;
GO
use Agenda
Go 

Create Table dbo.Contato 
(
   Numero      int ,
   Nome        varchar(30) ,
   Telefone    varchar(20) ,
   Aniversario date ,
   Sexo        char(1) 
)
go


COMMIT
